{% extends "base.html.twig" %}

{% block body %}

<div id="main">

  {% set _sc = 'audio_player' %}
  <div {{ stimulus_controller(_sc, {
    startingTrack: asset('sounds/WhiteNoise.mp3'),
    playlist: []
  }) }}>
    Audio player here.
    <button
            {{ stimulus_action(_sc, 'play') }}
            {{ stimulus_target(_sc, 'play') }}
            class="btn btn-primary">Play</button>
    <button {{ stimulus_action(_sc, 'stop') }}
            {{ stimulus_target(_sc, 'stop') }}
            hidden

            class="btn btn-danger">Stop</button>
  </div>


{% endblock %}
