{% extends "@SurvosBootstrap/%s/base.html.twig"|format(theme) %}

    {% block meta %}
        {{ parent() }}
        <meta charset="utf-8"/>
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
        />

        <meta
                name="Description"
                content="A simple white noise app that plays in the background."
        />
    {% endblock %}


    {% block javascripts %}
        {{ parent() }}
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
{#        {{ include('app/_splash.html.twig') }}#}
{#        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>#}
    {% endblock %}

    {% block body %}
    {% endblock %}

{#{% block body_content %}#}
{#    {{ block('sidebar') }}#}
{#    {{ block('body') }}#}
{#{% endblock %}#}

{% block sidebar %}
<side-drawer id="drawer">
    <div id="drawer-container">
        <div class="column-container">
            <h2>Background Noise</h2>
            <div id="version"></div>
        </div>
        <div class="column-container">
            <a href="{{ path('app_homepage') }}">Home</a>
            <a href="{{ path('app_about') }}">About</a>
            <a
                    href="https://github.com/survos-sites/noise/issues/new?assignees=&labels=bug&template=bug_report.md&title="
                    target="_blank"
                    rel="noopener"
            ><div class="selectable-row">
                    <div>Report Bug</div>
                    <div class="rotate90">&#8689;</div>
                </div></a
            >


            {#      <a#}
            {#              href="https://github.com/wes-goulet/background-noise/issues/new?assignees=&labels=enhancement&template=feature_request.md&title="#}
            {#              target="_blank"#}
            {#              rel="noopener"#}
            {#      ><div class="selectable-row">#}
            {#          <div>Suggest a Feature</div>#}
            {#          <div class="rotate90">&#8689;</div>#}
            {#        </div></a#}
            {#      >#}
        </div>
    </div>
</side-drawer>

{% endblock %}

{% block footer %}
    {% set serverTime =   'now' %}
Page created at
    <time data-controller="timeago"
          data-timeago-add-suffix-value="true"
          data-timeago-include-seconds-value="true"
          data-timeago-refresh-interval-value="1000"
          data-timeago-datetime-value="{{ serverTime|date('c') }}">
        {{ serverTime | date("m/d/Y g:i:sA", "America/New_York") }}
    </time>.

{% endblock %}

{% block title 'Background Noise' %}
